{% extends 'dashboard/includes/master.html' %}
{% block content %}



<style>
    @keyframes example {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(50%);
        }

    }

    /* The element to apply the animation to */
    #image {
        animation-name: example;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        max-width: 50%;
        width: 50%;
        height: 450px;
        border-radius: 65%;
        padding: 10px;
    }

    .card-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 30px;
    }

    @media screen and (max-width: 950px) {
        .card-body {
            grid-template-columns: 100%;
        }
    }

    @media screen and (max-width: 500px) {
        .fas {
            display: none;
        }

        .info-div h2{
            font-size: 16px;
        }
    }

    .info-div {
        padding: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        color: white;
    }

    .info-div:hover {
        transition: 1s;
        transform: scale(0.9);
    }
</style>

<div class="card">
    <div class="card-header">Home</div>
    <div class="card-body" id="course" style="width: 90%; margin: auto">

        <div class="info-div" style="background-image: linear-gradient(red, yellow);">
            <section class="text">
                <h2>Total Course Category</h2>
                <h4>{{category.count}}</h4>
            </section>
            <section class="image">
                <i class="fa fa-home fas" style="font-size: 80px;"></i>
            </section>
        </div>

        <div class="info-div" style="background-image: linear-gradient(black, white);">
            <section class="text">
                <h2>Total Course</h2>
                <h4>{{course.count}}</h4>
            </section>
            <section class="image">
                <i class="fa fa-home fas" style="font-size: 80px;"></i>
            </section>
        </div>

        <div class="info-div" style="background-image: linear-gradient(limegreen, green);">
            <section class="text">
                <h2>Total Product</h2>
                <h4>{{product.count}}</h4>
            </section>
            <section class="image">
                <i class="fa fa-home fas" style="font-size: 80px;"></i>
            </section>
        </div>

        <div class="info-div" style="background-image: linear-gradient(lightblue, blue);">
            <section class="text">
                <h2>Total Quiz Question</h2>
                <h4>{{question.count}}</h4>
            </section>
            <section class="image">
                <i class="fa fa-home fas" style="font-size: 80px;"></i>
            </section>
        </div>

    </div>
</div>

{% endblock %}



<!-- <div class=""
            style="border: 1px solid black; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img src="{{user.imageURL}}" id="image" alt="user-profile">
        </div> -->