{% load static %}

<style>
  @media screen and (max-width: 500px) {
    #logo {
      display: none;
    }
  }
</style>



<nav class="main-nav">
  <img
  src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/microsoft-512.png"
  alt="logo" id="logo" />
  <ul class="main-menu-left">
    <li><a href="{% url 'Frontend:home' %}">Home</a></li>
    <li><a href="{% url 'Frontend:products' %}">Products</a></li>
  </ul>
  <ul class="main-menu-right">
    {% if request.user.is_anonymous %}
    <li><a href="{% url 'Authentication:login' %}">Login</a></li>
    {% else %}
    <li>
      <a href="{% url 'Dashboard:dashboard' %}">Dashboard</a>
    </li>
    {% endif %}
    <li>
      <a href="#"><img src="{% static 'cart.jpg' %}" alt="cart-icon" id="cart-icon" /></a>
    </li>
    <li style="padding-left: 0px;">
      <span style="background-color: red; border-radius: 50%; padding: 8px;">3</span>
    </li>
  </ul>
</nav>


