{% load static %}

<style>
    .noticeboard {
        margin-top: 80px;
        background: url('{% static 'frontendicon/noticeboard1.jpg' %}') no-repeat center/cover;
        height: 600px;
        width: 100%;
    }

    .noticeboard #heading {
        font-size: 2vw;
        line-height: 2;
    }

    .noticeboard-content {
        width: 40%;
        padding: 150px 50px;
    }

    @media screen and (max-width: 800px) {
        .noticeboard-content {
            width: 100%;
            padding: 150px 50px;
        }
    }

    .noticecontent {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
        margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
        .noticecontent {
            display: grid;
            grid-template-columns: 1fr;
        }

        #noticebtn {
            width: 100%;
        }

    }
</style>



<section class="noticeboard">
    <div class="noticeboard-content">
        <p id="heading">Want To Be Successful?</p>
        <p>High Quality Course Content, Four Different Category Courses, Compete With Other Students, Secure Your
            Future.</p>
        <p>Login</p>
    </div>
</section>




<section class="noticeboard1" style="margin-top: 80px;">
    <div style="width: 100%; margin: 0 auto; border: 1px solid black;">
        <section class="noticecontent">
            <img src="{% static 'frontendicon/logo.png' %}" alt="logo" id="logo" style="width: 80%; height: 100%;" />
            <div style="margin: auto">
                <p style="font-size: 3.5vh;">Everything you need to get started.</p>
                <a href="{% url 'Authentication:login' %}"><button id="noticebtn"
                        style="padding: 10px; color: white; background-color: green; margin-top: 10px; border: 1px solid black">START</button></a>
            </div>
        </section>
    </div>
</section>