{% load static %}

<style>
    .noticeboard {
        margin-top: 80px;
        background: url('{% static 'frontendicon/noticeboard1.jpg' %}') no-repeat center/cover;
        height: 600px;
        width: 100%;
    }

    .noticeboard #heading {
        font-size: 2vw;
        line-height: 2;
    }

    .noticeboard-content {
        width: 40%;
        padding: 150px 50px;
    }

    @media screen and (max-width: 800px) {
        .noticeboard-content {
            width: 100%;
            padding: 150px 50px;
        }
    }
</style>


<section class="noticeboard">
    <div class="noticeboard-content">
        <p id="heading">Want To Be Successful?</p>
        <p>High Quality Course Content, Four Different Category Courses, Compete With Other Students, Secure Your
            Future.</p>
        <a href="{% url 'Authentication:login' %}"><button
                style="padding: 10px; width: 30%; color: white; background-color: green; margin-top: 10px;">Start</button></a>
    </div>
</section>