{% extends 'frontend/layout/master.html' %}

{% block content %}

<style>
    .product {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        margin: 80px auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        line-height: 2.5;
    }

    #contact-heading {
        text-align: center;
        padding: 10px;
    }

    #contact-heading p {
        font-size: 3vh;
    }

    @media screen and (max-width: 900px) {
        .product {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }

    .singleproduct {
        margin-top: 20px;
    }
</style>

<section class="singleproduct">
    <hr>
    <div id="contact-heading">
        <p>PRODUCT DETAILS</p>
    </div>
    <hr>

    <section class="product">
        <div class="image">
            <img src="{{ product.imageURL }}" alt="" style="height: 500px; width: 100%" />
        </div>
        <div class="content" style="padding: 20px; height: auto">
            <h2 style="text-align: center; padding-bottom: 15px;"><u>{{product.name}}
                    {% if product.qty > 0 %}
                    <span style="color: green">(In Stock)</u></span>
                {% endif %}
            </h2>
            <h3>Category: {{product.CourseCategory_id.name}}</h3>
            <h3 style="color: green">Price: ${{product.price}}</h3>
            <hr>
            <h4>{{product.detail}}</h4>
            <hr>
            {% if request.user.is_authenticated %}
            <button style="padding: 15px; background-color: red; color: white; float: right; margin-top: 10px;"
                data-product={{product.id}} data-action="addcart" class="cartbtn">Add To Cart</button>
            {% endif %}
        </div>
    </section>
</section>


<script>

    // csrf token django.
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    // cart add.
    let cart = document.getElementsByClassName("cartbtn");

    for (let i = 0; i < cart.length; i++) {
        cart[i].addEventListener('click', (e) => {
            let id = e.target.dataset.product;
            let action = e.target.dataset.action;
            let data = {
                product_id: id,
                action: action
            }
            addToCart(data);
        })
    }

    async function addToCart(data) {
        console.log("yes")
        const response = await fetch('http://localhost:8000/cart/', {
            method: "POST",
            body: JSON.stringify(data),
            headers: { "Content-type": "application/json; charset=UTF-8", 'X-CSRFTOKEN': csrftoken }
        })
        const result = await response.json()
        alert("Product Has Been Added To The Cart");
        location.reload()
    }

</script>

{% endblock %}