{% load static %}
<style>
  a {
    color: black;
  }

  #sidbar-dashboard {
    height: 96.5vh;
    line-height: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    background-image: linear-gradient( 114.2deg,  rgba(121,194,243,1) 22.6%, rgba(255,180,239,1) 67.7% );
  }

  @media screen and (max-width: 1000px) {
    #sidbar-dashboard {
      height: auto;
    }
  }
</style>

<div id="sidbar-dashboard" style="">
  <div style="background-color: white; margin-bottom: 50px; height: 100px;">
    <img src="{% static 'frontendicon/logo.png' %}" alt="logo" id="logo"
      style="height: 100%; width: 40%; display: block; margin: 0px auto;">
  </div>

  <a href="{% url 'Dashboard:dashboard' %}">
    <p><i class="fa fa-home"></i> Home</p>
  </a>
  <a href="{% url 'Dashboard:profile' %}">
    <p><i class="fa fa-address-book"></i> Profile</p>
  </a>
  <a href="{% url 'Quiz:leaderBoard' %}">
    <p><i class="fa fa-bar-chart"></i> LeaderBoard</p>
  </a>
 


  {% if request.user.userprofile.user_type == "TEC" %}
  <a href="{% url 'CourseCategory:course' %}">
    <p><i class="fa fa-book"></i> Course</p>
  </a>
  <a href="{% url 'Quiz:quiz' %}">
    <p><i class="fa fa-keyboard-o"></i> Quiz</p>
  </a>
  {% endif %}

  {% if request.user.userprofile.user_type == "STD" %}
  <a href="{% url 'CourseCategory:courseList' %}">
    <p><i class="fa fa-book"></i> Course</p>
  </a>
  <a href="{% url 'Quiz:startQuiz' %}">
    <p><i class="fa fa-keyboard-o"></i> Quiz</p>
  </a>
  <a href="{% url 'Dashboard:purchaseHistory' %}">
    <p><i class="fa fa-cart-arrow-down"></i> Purchase History</p>
  </a>
  
  {% endif %}
</div>