<style>
  a {
    color: black;
  }
</style>

<div style="line-height: 2;">
  <a href="{% url 'Dashboard:dashboard' %}">
    <p><i class="fa fa-home"></i> Home</p>
  </a>
  <a href="{% url 'Dashboard:profile' %}">
    <p><i class="fa fa-address-book"></i> Profile</p> 
  </a>
  <a href="{% url 'Quiz:leaderBoard' %}">
    <p><i class="fa fa-bar-chart"></i> LeaderBoard</p>
  </a>


  {% if request.user.userprofile.user_type == "TEC" %}
  <a href="{% url 'CourseCategory:course' %}">
    <p><i class="fa fa-book"></i> Course</p>
  </a>
  <a href="{% url 'Quiz:quiz' %}">
    <p><i class="fa fa-keyboard-o"></i> Quiz</p>
  </a>
  {% endif %}

  {% if request.user.userprofile.user_type == "STD" %}
  <a href="{% url 'CourseCategory:courseList' %}">
    <p><i class="fa fa-book"></i> Course</p>
  </a>
  <a href="{% url 'Quiz:startQuiz' %}">
    <p><i class="fa fa-keyboard-o"></i> Quiz</p>
  </a>
  {% endif %}
</div>