* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

#logo {
  width: 150px;
  height: 100px;
}

/* navbar */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0px;
  font-size: 15px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul.main-menu-left {
  flex: 1;
  margin-left: 20px;
}

.main-menu-left li {
  padding-left: 15px;
}

.main-nav ul.main-menu-right {
  display: flex;
  align-items: center;
}

.main-menu-right li {
  padding-left: 15px;
}

#cart-icon {
  width: 32px;
  height: 30px;
}

/* site main image */
.main-image img {
  width: 100%;
  height: 650px;
}

/* product-cards */
.heading-one {
  margin-top: 20px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
}

.product-cards img {
  width: 100%;
}

.product-cards img:hover {
  transition: 1s;
  transform: scale(0.9);
}

/* loging-form */
.login {
  width: 600px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
  height: 350px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 18px;
}

div #login-heading {
  background-color: #0067b8;
  padding: 5px;
  width: 600px;
  margin: 100px auto 0px;
  text-align: center;
  color: white;
  text-decoration: underline;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
