* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

#logo {
  width: 120px;
  height: 120px;
}

#cart-icon {
  width: 32px;
  height: 30px;
}

/* navbar */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 0px;
  font-size: 16px;
  position: fixed;
  top: 0;
}

/* navbar menu-left */
.main-menu-left {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

.main-menu-left li {
  padding: 10px;
}

/* navbar menu-right */
.main-menu-right {
  display: flex;
  align-items: center;
}

.main-menu-right li {
  padding: 10px;
}


@media screen and (max-width: 480px) {
  
  .container {
    width: 90%;
    margin: auto;  
  }

  
  .slider img {
    margin-top: 10px;
  }
}
