{% extends 'dashboard/includes/master.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="card">
    <div class="card-header">User Profile</div>
    <div class="card-body" id="course" style="width: 80%; margin: auto">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "authentication/message.html" %}
        {{ USER_FORM|crispy }}
        {{ USERPROFILE_FORM|crispy }}
        <button type="submit" class="btn btn-outline-success btn-block">Update</button>
      </form>
    </div>
</div>

{% endblock %}